<div ng-controller="SideMenuController as sidemenu" layout="column" class="sidenavdemoBasicUsage">
    <ng-include src="'sidemenu.html'"></ng-include>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <md-button ng-click="sidemenu.toggleLeft()" aria-label="Settings" class="md-icon-button">
                <md-icon md-svg-icon="img/icon/launch.svg"></md-icon>
            </md-button>
            <span flex></span>
            <h2 class="md-flex">Friends</h2>
            <span flex></span>
            <span style="width:30px;"></span>
        </div>
    </md-toolbar>
    <div ng-controller="FriendsController as friends" ng-init="friends.getFriends()">
        <div ng-if="auth.error" style="text-align:center; color: red; padding: 5px">
            <b>{{ auth.error }}</b>
        </div>
        <md-input-container class="md-raised md-accent" style="padding: 0px 10px 10px 10px">
            <label>search</label>
            <input ng-model="searchText">
        </md-input-container>
        <div layout="column">
            <div style="padding-left: 15px; padding-right: 15px;">
                <div ng-if="!friends.users.length">
                    <h2 style="text-align: center">No friends yet! Add some!</h2>
                </div>
                <div ng-repeat="username in friends.users | filter:searchText" style="width:90%;padding-top:10px;">
                    <a style="font-size:25px; ">{{username}}</a> <span flex></span><a style="font-size:25px; float:right ">{{time}}</a>
                </div>
            </div>
            <md-button href="#!/add" class="md-raised md-accent" style="margin-top: 20px;"> Add More Friends </md-button>
        </div>
    </div>
</div>
