<div ng-controller="SideMenuController as sidemenu" layout="column" class="sidenavdemoBasicUsage">
    <ng-include src="'sidemenu.html'"></ng-include>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <md-button ng-click="sidemenu.toggleLeft()" aria-label="Settings" class="md-icon-button">
                <md-icon md-svg-icon="img/icon/launch.svg"></md-icon>
            </md-button>
            <span flex></span>
            <h2 class="md-flex">Messages</h2>
            <span flex></span>
            <span style="width:30px;"></span>
        </div>
    </md-toolbar>
    <div ng-controller="MessagesController as messages" ng-init="messages.getMessages()">
        <div ng-if="auth.error" style="text-align:center; color: red; padding: 5px">
            <b>{{ auth.error }}</b>
        </div>
        <md-input-container class="md-raised md-accent" style="padding: 0px 10px 10px 10px">
            <label>search</label>
            <input ng-model="searchText">
        </md-input-container>
        <div layout="column" style="padding-left: 15px; padding-right: 15px;"">
            <div ng-if="!messages.messages">
                <h2 style="text-align: center">No new messages!</h2>
            </div>
            <div ng-if="messages.messages">
                <div ng-repeat="message in messages.messages | filter:searchText">
                    <div class="row" style="position:relative;">
                        <md-icon ng-click="messages.drawResponse(message)" md-svg-src="img/icon/draw.svg"></md-icon> &nbsp <font size="5px"> {{message.sharedBy}} </font> <font style="position: absolute; bottom:3px; right:3px;"> {{messages.formatDate(message.created)}} </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
