<div ng-controller="SideMenuController as sidemenu" layout="column" style="height:500px;" class="sidenavdemoBasicUsage">
    <ng-include src="'sidemenu.html'"></ng-include>
    <md-toolbar class="">
        <div class="md-toolbar-tools">
            <md-button ng-click="sidemenu.toggleLeft()" aria-label="Settings" class="md-icon-button">
                <md-icon md-svg-icon="img/icon/launch.svg"></md-icon>
            </md-button>
            <span flex></span>
            <h2 class="md-flex">Send</h2>
            <span flex></span>
            <span style="width:30px;">
        </div>
    </md-toolbar>
    <div ng-controller="SendController as send" ng-init="send.getFriends()">
	    <div ng-if="auth.error" style="text-align:center; color: red; padding: 5px" >
            <b>{{ auth.error }}</b>
        </div>
        <md-input-container style="padding: 0px 10px 0px 10px">
            <label>search</label>
            <input ng-model="auth.user.username">
        </md-input-container>
	    <div layout="row" style =" position:relative; width:90%;">
		    <div flex="50">
			    <md-checkbox class="md-primary" ng-repeat="username in send.users" ng-model="user.shouldSend" aria-label="Checkbox 1">
			        <a style="font-size:25px;">{{username}}</a> 
			    </md-checkbox>
		    </div>
	    </div>
	    
	    <md-button class="md-raised md-primary" ng-click="send.sendImage()" style="width:97%;"> Send </md-button>
    </div>
</div>
