<div ng-controller="SideMenuController as sidemenu" layout="column" style="height:500px;">
    <ng-include src="'sidemenu.html'"></ng-include>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools ">
            <md-button ng-click="sidemenu.toggleLeft() " aria-label="Settings " class="md-icon-button ">
                <md-icon md-svg-icon="img/icon/launch.svg "></md-icon>
            </md-button>
            <span flex></span>
            <h2 class="md-flex ">Sign up</h2>
            <span flex></span>
            <span style="width:30px; "></span>
        </div>
    </md-toolbar>
    <div ng-controller="AuthController as auth ">
        <md-content md-theme="docs-dark " layout-padding layout="column " layout-sm="column ">
            <div ng-if="auth.error " style="text-align:center; color: red; padding: 5px ">
                <b>{{ auth.error }}</b>
            </div>
            <md-input-container class="md-raised md-accent ">
                <label>username</label>
                <input ng-model="auth.user.username ">
            </md-input-container>
            <md-input-container class="md-raised md-accent ">
                <label>password</label>
                <input ng-model="auth.user.password " type="password">
            </md-input-container>
            <md-button class="md-raised md-accent " ng-click="auth.signup() "> Sign up </md-button>
            <div style="text-align:center;">
                <a>Already have an acount? - </a><a href ="#!/signin">login</a>
            </div>
        </md-content>
    </div>
</div>
